name: Stop ECS Frontend & Backend

on:
  workflow_dispatch:   # Manual trigger from the Actions tab

jobs:
  stop-services:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Install AWS CLI
        run: |
          pip install awscli

      - name: Stop Frontend service
        run: |
          aws ecs update-service \
            --region us-east-1 \
            --cluster brentaneal-cluster \
            --service brentaneal-frontend-service \
            --desired-count 0

      - name: Stop Backend service
        run: |
          aws ecs update-service \
            --region us-east-1 \
            --cluster brentaneal-cluster \
            --service brentaneal-backend-service \
            --desired-count 0
